/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

 div.like{
   padding: 15px 0px 0px 0px;
   font-size: 8pt;
   color: #848484;
 }

span.author {
  font-size: 9pt;
  font-weight: bold;
  color: #0B173B;
}

span.date {
  font-size: 8pt;
  color: #848484;
}


div.content {
  padding: 9px 0px 0px 0px;
  font-size: 10pt;
  font-family: calibri;
  text-align: justify;
}

a.icon{
  padding: 0px 5px 0px 0px;
  text-align: left;
  font-size : 12px;
}

a.menuicon{
  padding: 0px 0px 0px 0px;
  text-align: left;
  font-size : 14px;
}

div.pad{
  padding: 70px 0px 0px 0px;
}

span.welcome {
  text-align: center;
}

span.login {
  text-align: right;
}

img.profile {
  height: 150px;
  width: 150px;
}
div.profile {
  text-align: center;
}
img.jot {
  height: 40px;
  width: 40px;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}
