- content_for :head
  script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"
  script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'

div style=("width: 800px;")
  #multi_markers style=("width: 800px; height: 400px;")
  =raw @hash.to_json
  / var markers = handler.addMarkers(=raw @hash.to_json);
  javascript:
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
      var markers = handler.addMarkers( =raw @hash.to_json );
      handler.map.centerOn(markers[0]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
